extends ../layout

block content
 a(href='/bicicletas' class='btn' style='margin-top:20px;margin-left: 20px; background:black; color:white;' ) Volver

 br
 br
 br

 h1(style='margin-left:20px') Nueva Bicicleta

 br
 br

 form(action='/bicicletas/create',method='post' style='margin-left:50px')
    label(for='id') ID:
    input#id(type='text' name='id' style='margin-left:60px')
    br
    label(for='color') Color:
    input#color(type='text' name='color' style='margin-left:35px')
    br
    label(for='modelo') Modelo:
    input#modelo(type='text' name='modelo'  style='margin-left:21px' )
    br
    label(for='lat') Latitud:
    input#latitud(type='text' name='lat'  style='margin-left:23px')
    br
    label(for='lon') Longitud:
    input#longitud(type='text' name='lon'  style='margin-left:10px')
    br
    br
    input.btn(type='submit' value='OK' style='background-color:#00093D; color:white;')
