extends ../layout

block content
    br
    a(href='/bicicletas/create' class='btn' style='margin-left: 50px; background:black; color:white;' ) Nueva Bicicleta
    br
    br
    br
    table(style='margin-left: 20px').table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicacion
                th(scope='col')
        tbody
            each bici in bicis
             tr
                td(scope='row')
                  = bici.id
                td= bici.color
                td= bici.modelo
                td= bici.ubicacion
                td 
                     
                    a(href=`bicicletas/${bici.id}/update` class='btn' style='background-color:#00093D;color:white;') Editar
                td
                    form.inline(method='post' action='bicicletas/'+bici.id+'/delete')
                        input(type='hidden' name='id', value=bici.id)
                        button.link-button(type='submit' name='submit_param' value='submit_value' class='btn' style='background-color:#5B0909; color:white;')
                            ='Eliminar'